@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --primary: #284B63;
    --secondary: #FF7F11;
    --dark: #353535;
    --med: #e4e4e4;
    --light: #FFFFFF;
}


.HomeMain {
    padding: 10px;
    max-width: 100em;
    margin: 0 auto;
    text-align: center;
    color: var(--med);
}

.HomeHeader {
    position: static;
    width: 100vw;
    background: var(--primary);
    top: 0;
    right: 0;
    left: 0;
    color: var(--primary);
    z-index: 2;

}

.HeaderText {
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    color: var(--light);
}

.headerIcon {
    padding: 0px;
    width: 60px;
    vertical-align:top;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navBar li {
    display: inline;
    float: right;
}

.navBarAContainer {
    height: 70px;
}

.navBar a {
    max-height: 64px;
    display: block;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    margin: 0;
}

.navBar a:hover {
    background-color: #1b3343;
}

.HeaderText:visited {
    color: var(--light);
}

.name {
    text-align: center;
    color: var(--med);
}

.classLinks {
    color: var(--dark);
    text-decoration: underline;
    text-decoration-color: var(--med);
    font-size: 30px;

}

.classLinks:visited {
    text-decoration-color: #FF7F11;

}

.classesDiv {
    padding: 50px;
    padding-bottom: 0px;
    text-align: center;
}

.icon {
    width: 50px;
    padding: 10px;
}

.iconLink {
    display: contents;
}

.smallIcon {
    width: 15px;
    padding: 0px;
}

.footerSpacer {
    padding-top: 50px;
    padding-bottom: auto;
    margin: 0;
}

.footerList {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.footer li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.harvardClassLinkAllign {
    text-align: right;
    padding: 20px;
}

.githubLinkAllign {
    text-align: left;
    padding: 20px;
}

.githubLink {
    color: var(--med);
    font-size: 15px;
}

.harvardClassLink {
    color: var(--med);
    font-size: 15px;
}

.profilePhoto {
    max-height: 300px;
    width: 50% auto;
    padding-bottom: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pageHeader {
    color: var(--dark);
    text-align: center;
}

main {
    padding: 10px;
    max-width: 50%;
    margin: 0 auto;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    background-color: var(--med);
    line-height: 1.5;

}

img {
    max-height: 500px;
    width: 1vw auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    padding: 20px;
    padding-bottom: 60px;
    position: static;
    background: var(--dark);
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 25px;
    z-index: 2;
}

table {
    margin-left: auto;
    margin-right: auto;
}

p {
    color: var(--dark);
}

a:hover {
    color: var(--secondary);
}

a {
    color: var(--dark);
}